.galeria {
  display: flex;
  width: 100%;
  background-color: #e6bc7e;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.pets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
}

.pets img {
  max-width: 150px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  margin: 15px;

  box-sizing: border-box;
}

.titulo-galeria {
  display: flex;
  color: #333333;
  border: none;
  padding-top: 30px;
}

.box-pets {
  display: flex;
  background-color: aliceblue;
  width: 340px;
  height: 180px;
  background: #ffffff;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 20px;
}

.box-pets h3 {
  width: 150px;
  height: 69px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;

  color: #333333;
}

.box-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-end;
}


@media (max-width: 768px) {

  .titulo-galeria {
    text-align: center;
    /* font-size: 36px */
  }

  .galeria h4 {
    text-align: center;
    font-size: 14px
  }

.pets {
  padding: 30px 0px 30px 0px
}
}