.pagina-total {
  display: flex;
  flex-direction: column;
  
  padding: 100px;
}

.container1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.tabela1,
.tabela2 {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 108px;
  left: 185px;
  top: 79px;
  padding: 10px;

  background: #e6bc7e;
  /* border: 1px solid #040404; */
  box-sizing: border-box;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.numero-tabela {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}

.container2 {
  display: flex;
  justify-content: center;
  /* width: 800px; */
  /* height: 293px;
left: 185px;
top: 217px; */

  background: #e6bc7e;
  /* border: 1px solid #040404; */
  box-sizing: border-box;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.container2 h2 {
  background: #e6bc7e;
  border: none;
  color: black;
  padding: 15px;
}

.container3 {
  display: flex;
  justify-content: space-between;
}

.botao-tabela {
  margin: 90px 0;
  cursor: pointer;
}
