.contato {
    display: flex;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #403423;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  
  .caixa {
    display: flex;
    width: 330px;
    height: 427px;
    background: #ffffff;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
  }
  
  label{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-left: 20px;
    margin-bottom: -40px;
  
    color: #403423;
  }
  
  input{
    width: 280px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  button:hover {
    color: white;
    background-color: #403423;
  }
  button{
    width: 280px;
    height: 35px;
  
    margin-left: 20px;
    margin-right: 10px;
  
    background: #bf9d69;
    border-radius: 10px;
    border: 1px solid #ffffff;
  
    font-style: normal;
    font-weight: bold;
  
    color: #ffffff;
  }
  
  .mensagem {
    width: 280px;
    height: 80px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .resultado {
    text-align: center;
  }