.login-form {
  
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 15px 15px;
}

.div-conteiner-login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
